
.Nav{
  display: flex;
  background-color: #6366F1;
  margin: 0;
  color: white;
  padding: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
justify-content: center;
align-items: center;
}
.Nav h2{
  margin-left: 20px;
}
.right{
  margin-left: auto;
  display: flex;
  list-style-type: none;
}
.right li{
  margin: 10px;
  font-size: 1.14rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.right li:hover{
 color: rgb(226, 216, 216);
 transition: all 0.3s ease-in-out;

}
